<div class="home-intro">
    <div class="jumbo">{{site.title}} </div>
    <div class="home-sub-text"> <h3>
        <img src="../assets/img/me.jpg" alt="A badass pic of me playing the guitar." style="max-width: 100%; height: auto;" />
        Currently Undergrad pursuing B.S. in Intelligence Science & Technology @ Peking University.
        <br>
        Looking for PhD position starting 26', and summer research intern in 25'.
        <br>
        <p>
        <b>Under the guidance of: </b>
        <a href="https://www.yangyaodong.com">Yang, Yaodong</a> at the <a href="https://pair-lab.com">PAIR Lab</a> of Peking University and 
        <br>
        <a href="https://michaelshieh.com">Shieh, Michael</a> at the <a href="https://john-ai-lab.github.io">John AI Lab</a> of National Univ. Of Singapore. </p>
        <p>
        <b>Research:</b>
            I'm mainly interested data-centric and generative artificial intelligence systems. I've started out doing value-alignment-related
            research; see the Research section for my published paper. I'm also dipping my feet in many other fields such as efficient language model,
            machine interpretability, and AI agents; see the Exploration section for my various notes. My general goal is understanding the 
            structure and mechanisms of huge generative models, and enable more capable and responsible AI systems. <b>AGI might just be real.</b>
        </p>
        </h3> 
</div> </div>

