<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Currently Undergrad pursuing B.S. in Intelligence Science & Technology @ Peking University.
        <br>
        Looking for PhD position starting 26', and summer research intern in 25'.
        <p>
        <b>Under the guidance of: </b>
        <a href="https://www.yangyaodong.com">Yang, Yaodong</a> at the <a href="https://pair-lab.com">PAIR Lab</a> of Peking University and 
        <br>
        <a href="">Shieh, Michael</a> at the <a href="https://john-ai-lab.github.io">John AI Lab</a> of National Univ. Of Singapore. </p>
        <p>
        <b>Research:</b>
            I'm mainly interested 
        </p>
        </h3> 
</div> </div>

